body {
    background: #FFF1D6 url(images/noise_1.png);
    /*primeira MAC-OS, segunda Windows, as duas em caso de não existir as primeiras fontes*/
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    /*padrão para usar 160% da altura da fonte no computador do usuário*/
    line-height: 1.6;
}

.container {
    /*superior e inferior como 0, a laterais automática para centralizar*/
    margin: 0 auto;
    /*ideal para larguras de tela de até 1024px*/
    width: 960px;
}

h1 a {
    color: #7E9F19;
    text-decoration: none;
}

h1 a:hover {
    background-color: #7E9F19;
    color: #FFF;
}

.places {
    float: left;
    width: 660px;
    
}

.lateral {
    background-color: #FFFBE4;
    border: 1px solid #C9BC8F;
    float: right;
    padding: 10px;
    width: 260px;
}

.lateral h3 {
    font-size: 14px;
    margin-top: 0;
}

.lateral ol {
    font-size: 12px;
}

.artigo {
    background-color: #FFF;
    border-color: #CCC #999 #999 #CCC;
    border: 1px solid #CCC;
    clear: both;
    margin-bottom: 20px;
    padding: 10px;
}

.artigo h2 {
    border-bottom: 1px dashed #7E9F19;
    margin: 0;
}

.artigo a {
    color: #2C88A7;
    font-weight: bold;
}

.artigo img {
    border: 1px solid #7E9F19;
    float: left;
    margin: 10px 10px 0 0;
    padding: 2px;
}

.clear {
    clear: both;
}

.rodape {
    font-size: 15px;
    text-align: center;
}
